  <div class="row" *ngIf="!(searchForm.tripCount == 1 && index == 1)">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
    <mat-form-field appearance="fill" [ngClass]="{ 'validation-control': isSubmitted && !origin }" class="routes-field">
      <mat-label>From</mat-label>
      <mat-select (selectionChange)="originSelected()" [(ngModel)]="origin">
        <mat-option>
          <ngx-mat-select-search [(ngModel)]="originInput" placeholderLabel="From"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="
            let option of origins | locationPipe: originInput:'name'
          " [value]="option">
          {{ option.name }}-{{ option.country.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
    <mat-form-field appearance="fill" [ngClass]="{ 'validation-control': isSubmitted && !destination }" class="routes-field">
      <mat-label>To</mat-label>
      <mat-select matNativeControl (selectionChange)="destinationSelected()" [(ngModel)]="destination">
        <mat-option>
          <ngx-mat-select-search [(ngModel)]="destinationInput" placeholderLabel="To"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="
            let option of destinations
              | locationPipe: destinationInput:'name'
          " [value]="option">
          {{ option.name }}-{{ option.country.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
