.booking-form {
  background: rgba(34, 33, 33, 0.7);
  /* border-radius: 6px; */
  margin-right: 5rem;
  margin-left: 5rem;
}

.search-booking {
  margin-right: 0;
  margin-left: 0;
}

.btn-group {
  width: 30%;
}

.btn-group button {
  flex: 1;
}

.search-fields {
  margin-top: 30px;
}

header {
  height: 100vh;
  background: lightgrey;
}

/* header > div {
  margin-right: 0;
} */

@media (min-width: 768px) {
  .booking-form {
  margin-right: 0;
  margin-left: 0;
  }
}

@media (max-width: 420px) {
  label {
    font-size: 1rem;
  }
}

@media (max-width: 539px) {
  .btn-group {
    width: 100%;
  }
}

@media (min-width:540px) and (max-width: 991px) {
  .btn-group {
    width: 51%;
  }
}

