.booking-form {
  background: rgba(34, 33, 33, 0.7);
  /* border-radius: 6px; */
  margin-right: 5rem;
  margin-left: 5rem;
}

.search-booking {
  margin-right: 0;
  margin-left: 0;
}

.search-ferry {
  margin-left: 0; margin-right: 0;
}

.btn-group {
  width: 30%;
}

.btn-group button {
  flex: 1;
}

.search-fields {
  margin-top: 30px;
}

header {
  /* height: 60vh; */
  background: lightgrey;
}

/* header > div {
  margin-right: 0;
} */

@media (min-width: 768px) {
  .booking-form {
  margin-right: 0;
  margin-left: 0;
  }
}

@media (max-width: 420px) {
  label {
    font-size: 1rem;
  }
}

@media (max-width: 539px) {
  .btn-group {
    width: 100%;
  }
  .btn-group button {
    font-size: inherit;
  }
}

@media (min-width:540px) and (max-width: 991px) {
  .btn-group {
    width: 55%;
  }
}

@media (max-width: 285px) {
  ::ng-deep .mat-datepicker-content .mat-calendar {
    width: 249px! important;
    height: 300px! important;
  }
}

