<!-- footer -->
<footer class="bg-dark">
  <div class="container-fluid">
    <div class="row text-light py-4">
      <div class="col-lg-5 col-sm-6">
        <h2>Need Help?</h2>
        <ul class="list-unstyled">
          <li>
            <a class="footer-link text-uppercase">Customer Service</a>
          </li>
          <li>
            <a class="footer-link text-uppercase">Online Chat</a>
          </li>
          <li>
            <a class="footer-link text-uppercase">Support</a>
          </li>
          <li>
            <a class="text-info">info@greeceferries.com</a>
          </li>
          <li>
            <i class="fas fa-phone-square-alt text-primary"></i>
            +30 210 32 41 776
          </li>
        </ul>
      </div>
      <div class="col-lg-7 col-sm-6">
        <h2>Subscribe to our Newsletter</h2>
        <form class="mb-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Email Address">
            <div class="input-group-append">
              <button type="button" class="btn bg-danger text-white text-uppercase font-weight-bold">Sign Up</button>
            </div>
          </div>
        </form>
        <ul class="list-inline">
          <li class="list-inline-item"><i class="fab fa-facebook-square fa-2x text-primary"></i></li>
          <li class="list-inline-item"><i class="fab fa-google-plus fa-2x text-danger"></i></li>
          <li class="list-inline-item"><i class="fab fa-instagram fa-2x text-danger"></i></li>
          <li class="list-inline-item"><i class="fab fa-twitter fa-2x text-info"></i></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col text-center text-light border-top pt-3">
        <p> GreeceFerries.com {{date}} &copy; Seretis Travel IKE.</p>
      </div>
    </div>
  </div>
</footer>
<!-- end of footer -->
