<div *ngIf="isLoading" class="center">
  <app-loading-spinner></app-loading-spinner>
</div>

<br><br><br>

<div class="login-form" [ngClass]="{'transparent': isLoading}">
  <h2 class="text-center">Enter your email</h2>
  <div class="form-group">
    <div class="input-group" >
      <div class="input-group-prepend">
        <span class="input-group-text">
          <span class="fa fa-user"></span>
        </span>
      </div>
      <input
        class="form-control"
        type="email"
        placeholder="Email"
        [formControl]="emailControl"
        [ngClass]="{'is-invalid': emailControl.invalid && (emailControl.dirty || emailControl.touched)}"
      />
    </div>
  </div>
  <div *ngIf="message">
    <p style="color: red;">{{ message }}</p>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-success btn-block login-btn" (click)="submit()">
      Submit
    </button>
  </div>
</div>

<br><br><br>
<br><br><br>
<br><br><br>

